Loop de mensajes de tu muro:<br />


<ul>	
	<% @graph_data.each do |reg| %>
		<li><%=reg["id"]%>
			<% if reg.has_key?("comments") %>
				<% if reg["comments"]["count"] > 0 %>
					(Tiene <%= reg["comments"]["count"] %> comentarios).
				<% else %>
					(Sin comentarios).
				<% end %>
			<% end %>
		</li>
		<ul>	
			<% reg.each do |k, v| %>
				<li><%=k%>: <%=v%></li>
			<% end %>
		</ul>
	<% end %>
</ul>



